.page-footer {
  padding: 60px 0px;
  background-color: $footer-background-color;
}

.logo-footer {
  margin-bottom: 20px;

  color: $white-text-color;

  font-family: $logo-font;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
  text-decoration: none;
}

.contacts-join {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }
}

.footer-box {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.contacts {
  margin-bottom: 8px;

  color: $white-text-color;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.page-footer {
  .text {
    margin-top: 0;
    margin-bottom: 20px;

    color: $white-text-color;

    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
  }
}

.block-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    align-items: flex-start;
    margin-right: 69px;
    margin-bottom: 0;
  }
}

.contacts {
  .links {
    color: rgba(255, 255, 255, 0.6);
  }
}

.our-links {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.social-links {
  display: block;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-instagram {
  background-image: url(../images/instagram.svg);
  margin-right: 10px;
}

.icon-twitter {
  background-image: url(../images/twitter.svg);
  margin-right: 10px;
}

.icon-facebook {
  background-image: url(../images/facebook.svg);
  margin-right: 10px;
}

.icon-linkedin {
  background-image: url(../images/linkedin.svg);
}

.social-links:hover {
  background-color: $accent;
}

.block-join {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    align-items: flex-start;
    margin-bottom: 0;
  }
}

.block-submit {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1200px) {
    align-items: flex-start;
    margin-left: auto;
  }
}

.icon-subscribe::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/send.svg);
}

.icon-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  padding: 10px 28px;

  color: $white-text-color;
  background-color: $accent;

  text-decoration: none;
  text-align: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.form-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.block-submit {
  input {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 16px 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: $white-text-color;
    background-color: $footer-background-color;

    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;

    @media screen and (min-width: 768px) {
      width: 450px;
    }

    @media screen and (min-width: 1200px) {
      width: 358px;
      margin-bottom: 0;
      margin-right: 12px;
    }
  }
}

input[type='email']:focus {
  color: $white-text-color;
  outline: none;
}
