.none {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.work-list {
  .item {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}

.work-list {
  display: flex;
  text-align: center;
}

.thumb {
  position: relative;
}

.image-block {
  display: block;
}

.block-title {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-list {
  .title {
    margin: 0;

    color: $white-text-color;

    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
  }
}

.section.team {
  background-color: $secondary-backgound-color;
}

.works {
  padding: 0;
}
